@tailwind base;
@tailwind components;

body
{
    @apply bg-purple-100 flex h-screen w-full justify-center place-items-center gap-2;
}

/*ALL CONTAINERS FORMATING*/
.container-home,
.container-booking,
.container-see-and-cancel,
.container-sign-in-login
{
    @apply relative h-h-screen w-w-screen border-style;
}
/*END ALL CONTAINERS FORMATING*/





/*INDIVIDUAL CONTAINERS FORMATING*/
.container-sign-in-login .container-form
{
    top: 50%;
    transform: translateY(-35%);
    @apply absolute w-w-screen;
}

.container-home .options
{
    top: 50%;
    transform: translateY(-50%);
    @apply space-y-2 text-center absolute w-w-screen;
}

.container-booking
{
    @apply place-items-center;
}

.container-see-and-cancel .bookings
{
    @apply flex justify-between place-items-center my-4 mx-2 bg-purple-300 rounded-lg p-4;
}

.container-see-and-cancel .bookings span
{
    @apply text-xl  px-4 py-4;
}
/*END INDIVIDUAL CONTAINERS FORMATING*/





/*COMPONENTS*/
.header
{
    @apply text-center space-y-2 mt-4 mx-4 py-4 border-style
}

.footer
{
    @apply absolute bottom-0 right-0 left-0 mb-1 text-center;
}

.border-style
{
    @apply border-dashed border-4 border-purple-900;
}

p
{
    @apply text-xl;
}

input,
select
{
    @apply w-full py-4 px-4 rounded-lg my-4 outline-none;
}

form
{
    @apply w-full px-4;
}
/*END COMPONENTS*/





/*BUTTONS*/
button
{
    @apply bg-purple-600 text-white rounded-lg w-44 py-4 text-center shadow-2xl;
}

button:hover,
button:focus
{
    @apply bg-purple-400 ring-4 ring-purple-600 ring-inset;
}

button.book, button.see, button.confirm, button.sign-in, button.login
{
    @apply text-2xl;
}

p.cancel
{
    @apply rounded-lg mx-2 py-1 px-3 bg-purple-600 text-white font-semibold hover:bg-red-700 cursor-pointer shadow-2xl;
}
/*END BUTTONS*/









































@tailwind utilities;
